        /*.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 15vh;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-top: auto;
}

u {
    font-size: 60px;
}

.App-link {
    color: #61dafb;
}

section.rect {
    text-align: center;
    background-color: rgb(145, 190, 192);
    height: 437px;
}

.rectangle {
    height: 437px;
    width: 400px;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(248, 4, 4);
    color: black;
    text-align: center;
    border: 3px solid black;
    padding: 10px;
}

.flexbox {
    display: flex;
}

.row {
    display: flex;
    margin: auto;
}

.column {
    font-size: 20px;
    float: left;
    width: 100%;
}

#b1 {
    font-size: 8px;
    margin-left: 269px;
}

#b2 {
    font-size: 8px;
    margin-left: 295px;
}

#b3 {
    font-size: 8px;
    margin-left: 292px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}*/
    
    body {
        box-sizing: border-box;
        background-color: aliceblue;
    }
    /* Remove margins and padding from the list */
    
    h2 {
        font-size: 3rem;
        font-style: oblique;
        font-weight: bold;
    }
    
    ul {
        padding: 1px;
        background-color: darkolivegreen;
        color: black;
        font-family: fantasy;
        font-weight: bold;
    }
    /* Style the list items */
    
    ul li {
        cursor: pointer;
        position: relative;
        padding: 12px 8px 12px 40px;
        background: #eee;
        font-size: 18px;
        transition: 0.2s;
        /* make the list items unselectable */
        -webkit-user-select: none;
        user-select: none;
    }
    /* Set all odd list items to a different color (zebra-stripes) */
    
    ul li:nth-child(odd) {
        background: #3b6694;
    }
    /* Darker background-color on hover */
    
    ul li:hover {
        background: #ddd;
    }
    /* When clicked on, add a background color and strike out text */
    
    ul li.checked {
        background: #888;
        color: #fff;
        text-decoration: line-through;
    }
    /* Add a "checked" mark when clicked on */
    
    ul li.checked::before {
        content: '';
        position: absolute;
        border-color: #fff;
        border-style: solid;
        border-width: 0 2px 2px 0;
        top: 10px;
        left: 16px;
        transform: rotate(45deg);
        height: 15px;
        width: 7px;
        /* Style the close button */
        /*.close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 12px 16px 12px 16px;
    }
    .close:hover {
        background-color: #f44336;
        color: white;
    }*/
        /* Style the header */
        /*.header {
        background-color: #284550;
        padding: 30px 40px;
        color: rgb(0, 0, 0);
        font-family: monospace;
        font-style: unset;
        font-weight: bolder;
        font-stretch: expanded;
        font-size: 50px;
        text-align: center;
    }*/
        /* Clear floats after the header */
        /*.header:after {
        content: "";
        display: table;
        clear: both;
    }
    /* Style the input */
        /*input {
        margin: 1px 15px;
        border: none;
        border-radius: inherit;
        float: right;
        font-size: 20px;
        width: 50px;
        height: 20px;
        border-radius: 1pt;
    }*/
        /* Style the "Add" button */
        /*.addBtn {
        padding: 10px;
        width: 25%;
        background: #d9d9d9;
        color: #555;
        float: left;
        text-align: center;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
        border-radius: 0;
    }
    .addBtn:hover {
        background-color: #bbb;
    }*/